.header-hide {
  display: none;
}

.header-show {
  display: block;
}

.sort-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.sort-bar span {
  font-size: 20px;
  font-weight: 500;
  color: #000;
}
.sort-bar select {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #fff;
  outline: none;
  padding: 13px 11px;
  font-size: 16px;
  line-height: 1;
  color: #000;
  border-radius: 6px;
}
